@model STIProkoratKrausnerBroz.Models.ToolsClass
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kraušner, Prokorát, Brož";
}
<div class="checkboxDiv">
    <h1>Vyber měnu:</h1>
    <label class="container">
        Americký dolar
        <input type="checkbox" checked="checked" onclick="displayRow(0)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Australský dolar
        <input type="checkbox" onclick="displayRow(1)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Britská libra
        <input type="checkbox"  checked="checked" onclick="displayRow(2)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Chorvatská kuna
        <input type="checkbox" onclick="displayRow(3)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Dánská koruna
        <input type="checkbox" onclick="displayRow(4)"">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Euro
        <input type="checkbox"  checked="checked" onclick="displayRow(5)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Japonský jen
        <input type="checkbox" onclick="displayRow(6)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Kanadský dolar
        <input type="checkbox" onclick="displayRow(7)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Maďarský forint
        <input type="checkbox" onclick="displayRow(8)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Norská koruna
        <input type="checkbox" onclick="displayRow(9)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Polský zlotý
        <input type="checkbox" onclick="displayRow(10)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Rumunský nový lei
        <input type="checkbox" onclick="displayRow(11)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Ruský rubl
        <input type="checkbox" onclick="displayRow(12)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Švédská koruna
        <input type="checkbox" onclick="displayRow(13)">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Švýcarský frank
        <input type="checkbox" onclick="displayRow(14)">
        <span class="checkmark"></span>
    </label>
</div>
<div class="tableDiv">
    <table>
        <thead>
            <tr>
                <th>Měna</th>
                <th>Označení</th>
                <th>Nejvýhodnější prodej</th>
                <th>Jméno banky</th>
                <th>Nejvýhodnější nákup</th>
                <th>Jméno banky</th>
                <th>Doporučení</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BestDeals){
                <tr class="dealRow" style="display:none;">
                    <td>@item.Country</td>
                    <td>@item.CurrencyName</td>
                    <td>@item.BestSale</td>
                    <td>@item.BestSaleBank.ToUpper()</td>
                    <td>@item.BestBuy</td>
                    <td>@item.BestBuyBank.ToUpper()</td>
                    <td>@item.Recommendation</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    displayRow(0);
    displayRow(2);
    displayRow(5);
</script>