@model STIProkoratKrausnerBroz.Models.ToolsClass
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kraušner, Prokorát, Brož";
}
<div class="checkBoxDiv">
    <label class="container" id="weekLabel">
        Týden
        <input type="radio" name="radio" id="weekRadio" onclick="hideDiv('monthCurrencyContainer', 'currencyContainer')">
        <span class="checkmark"></span>
    </label>
    <label class="container" id="monthLabel">
        Měsíc
        <input type="radio" name="radio" id="monthRadio" checked="checked" onclick="hideDiv('currencyContainer', 'monthCurrencyContainer')">
        <span class="checkmark"></span>
    </label>
</div>
<div class="currencyContainer" id="audDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="aud-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="aud-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="dkkDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="dkk-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="dkk-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="eurDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="eur-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="eur-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="hrkDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="hrk-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="hrk-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="cadDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="cad-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="cad-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="hufDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="huf-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="huf-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="nokDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="nok-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="nok-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="plnDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="pln-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="pln-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="ronDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="ron-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="ron-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="rubDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="rub-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="rub-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="sekDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="sek-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="sek-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="chfDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="chf-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="chf-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="jpyDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="jpy-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="jpy-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="usdDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="usd-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="usd-week-sale-canvas"></canvas>
    </div>
</div>
<div class="currencyContainer" id="gbpDiv">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="gbp-week-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="gbp-week-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="aud-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="aud-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="dkk-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="dkk-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="eur-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="eur-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="hrk-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="hrk-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="cad-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="cad-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="huf-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="huf-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="nok-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="nok-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="pln-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="pln-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="ron-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="ron-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="rub-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="rub-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="sek-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="sek-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="chf-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="chf-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="jpy-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="jpy-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="usd-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="usd-month-sale-canvas"></canvas>
    </div>
</div>
<div class="monthCurrencyContainer">
    <div class="graphCanvasDiv" id="leftDiv">
        <canvas class="graphCanvas" id="gbp-month-purchase-canvas"></canvas>
    </div>
    <div class="graphCanvasDiv" id="rightDiv">
        <canvas class="graphCanvas" id="gbp-month-sale-canvas"></canvas>
    </div>
</div>
<script type="text/javascript">
    let bankNames = [];
    let dates = [];
    let currencyNames = [];
    @{
        foreach (var d in Model.Currencies[0].Dates){
            @:dates.push(new Date("@d.date.ToString("yyyy-MM-dd")"));
        }
        foreach(var curr in Model.Currencies){
            @:var currenciesSales = [];
            @:var currenciesPurchases = [];
/**/
            @:var indexes = [0, 0, 0, 0, 0];
/**/
            @:for(var i = 0; i < 5; i++){
/**/
                @:currenciesSales.push([]);
/**/
                @:currenciesPurchases.push([]);
/**/
            @:}
            foreach(var date in curr.Dates){
                foreach(var bank in date.Banks){
                    @:if(bankNames.length < 5){
                        @:console.log("@bank.name");
                        @:bankNames.push("@bank.name");
                    @:}
                    if(bank.name == "kb"){
                        @:currenciesSales[0][indexes[0]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
                        @:currenciesPurchases[0][indexes[0]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
                        @:indexes[0]++;
                    }
                    if(bank.name == "rb"){
                        @:currenciesSales[1][indexes[1]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
                        @:currenciesPurchases[1][indexes[1]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
                        @:indexes[1]++;
                    }
                    if(bank.name == "cs"){
                        @:currenciesSales[2][indexes[2]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
                        @:currenciesPurchases[2][indexes[2]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
                        @:indexes[2]++;
                    }
                    if(bank.name == "cnb"){
                        @:currenciesSales[3][indexes[3]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
                        @:currenciesPurchases[3][indexes[3]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
                        @:indexes[3]++;
                    }
                    if(bank.name == "csob"){
                        @:currenciesSales[4][indexes[4]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
                        @:currenciesPurchases[4][indexes[4]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
                        @:indexes[4]++;
                    }

                }

            }
            @:showGraph("@curr.name.ToLower()"+"-week-sale-canvas", "@curr.name.ToLower()"+"-month-sale-canvas", "@curr.name.ToLower()"+"-week-purchase-canvas", "@curr.name.ToLower()"+"-month-purchase-canvas", "@curr.name", dates, bankNames, currenciesSales, currenciesPurchases);
        }
     }
    hideDiv('currencyContainer', 'monthCurrencyContainer');
</script>



