@model STIProkoratKrausnerBroz.Models.TableData
@using STIProkoratKrausnerBroz.Models
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kraušner, Prokorát, Brož";
}

<div class="checkBoxDiv">
    <label class="container" id="rbLabel">
        RB
        <input type="radio" name="radio" id="rbRadio" onclick="showTable('rbTableDiv')">
        <span class="checkmark"></span>
    </label>
    <label class="container" id="csLabel">
        ČS
        <input type="radio" name="radio" id="csRadio" onclick="showTable('csTableDiv')">
        <span class="checkmark"></span>
    </label>
    <label class="container" id="csobLabel">
        ČSOB
        <input type="radio" name="radio" id="csobRadio" onclick="showTable('csobTableDiv')">
        <span class="checkmark"></span>
    </label>
    <label class="container" id="kbLabel">
        KB
        <input type="radio" name="radio" id="kbRadio" onclick="showTable('kbTableDiv')">
        <span class="checkmark"></span>
    </label>
    <label class="container" id="cnbLabel">
        ČNB
        <input type="radio" name="radio" checked="checked" id="cnbRadio" onclick="showTable('cnbTableDiv')">
        <span class="checkmark"></span>
    </label>
</div>
<button class="button" type="button" onclick="exportTable()">Exportovat tabulku</button>
<div class="tableDiv" id="rbTableDiv">
    @{
        TableObject bank = Model.Tables.Find(TableObject => TableObject.bankName.ToUpper() == "RB" &&
        TableObject.date == Model.Tables.Max(t => t.date));
    }
    <h2>Banka: @bank.bankName.ToUpper()</h2>
    <h2>Datum: @bank.date.ToString("dd.MM.yyyy")</h2>
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in bank.table.Columns)
                {
                    <th> @col.ColumnName </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in bank.table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in bank.table.Columns)
                    {
                        <td> @row[col.ColumnName] </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tableDiv" id="kbTableDiv">
    @{
        TableObject bank2 = Model.Tables.Find(TableObject => TableObject.bankName.ToUpper() == "KB" &&
        TableObject.date == Model.Tables.Max(t => t.date));
    }
    <h2>Banka: @bank2.bankName.ToUpper()</h2>
    <h2>Datum: @bank2.date.ToString("dd.MM.yyyy")</h2>
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in bank2.table.Columns)
                {
                    <th> @col.ColumnName </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in bank2.table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in bank2.table.Columns)
                    {
                        <td> @row[col.ColumnName] </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tableDiv" id="csobTableDiv">
    @{
        TableObject bank3 = Model.Tables.Find(TableObject => TableObject.bankName.ToUpper() == "CSOB" &&
        TableObject.date == Model.Tables.Max(t => t.date));
    }
    <h2>Banka: @bank3.bankName.ToUpper()</h2>
    <h2>Datum: @bank3.date.ToString("dd.MM.yyyy")</h2>
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in bank3.table.Columns)
                {
                    <th> @col.ColumnName </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in bank3.table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in bank3.table.Columns)
                    {
                        <td> @row[col.ColumnName] </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tableDiv" id="csTableDiv">
    @{
        TableObject bank4 = Model.Tables.Find(TableObject => TableObject.bankName.ToUpper() == "CS" &&
        TableObject.date == Model.Tables.Max(t => t.date));
    }
    <h2>Banka: @bank4.bankName.ToUpper()</h2>
    <h2>Datum: @bank4.date.ToString("dd.MM.yyyy")</h2>
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in bank4.table.Columns)
                {
                    <th> @col.ColumnName </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in bank4.table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in bank4.table.Columns)
                    {
                        <td> @row[col.ColumnName] </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tableDiv" id="cnbTableDiv">
    @{
        TableObject bank5 = Model.Tables.Find(TableObject => TableObject.bankName.ToUpper() == "CNB" &&
        TableObject.date == Model.Tables.Max(t => t.date));
    }
    <h2>Banka: @bank5.bankName.ToUpper()</h2>
    <h2>Datum: @bank5.date.ToString("dd.MM.yyyy")</h2>
    <table>
        <thead>
            <tr>
                @foreach (DataColumn col in bank5.table.Columns)
                {
                    <th> @col.ColumnName </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in bank5.table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in bank5.table.Columns)
                    {
                        <td> @row[col.ColumnName] </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>showTable('cnbTableDiv');</script>