<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="10800">
    <title>@ViewData["Title"] - STI_Prokorat_Krausner_Broz</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script src="~/js/Scripts.js" type="text/javascript" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="@Url.Content("~/css/Styles.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
    <body>
        <section>
            <header>
				<h3>@Html.Raw(ViewBag.versionMsg)</h3>
            </header>
            <div class="container body-content">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    @Html.ActionLink("Zobrazit grafy", "Index")
                    @Html.ActionLink("Zobrazit tabulky", "TableView")
                    @Html.ActionLink("Nejvýhodnější nabídky", "BestDealView")
                    @Html.ActionLink("Určení marží měn", "CoeficientView");
                </div>

                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                @RenderBody()
            </div>
        </section>

    </body>
</html>
