@model STIProkoratKrausnerBroz.Models.ToolsClass
@using STIProkoratKrausnerBroz.Models
@using System.Data
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Kraušner, Prokorát, Brož";
}
<section class="content">
	<div class="checkboxDiv2" id="bankRowDiv">
		<h1>Vyber měnu:</h1>
		<label class="container">
			Americký dolar
			<input type="checkbox" id="usd" onclick="displayRow('USD')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Australský dolar
			<input type="checkbox" id="aud" onclick="displayRow('AUD')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Britská libra
			<input type="checkbox" id="gbp" onclick="displayRow('GBP')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Chorvatská kuna
			<input type="checkbox" id="hrk" onclick="displayRow('HRK')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Dánská koruna
			<input type="checkbox" id="dkk" onclick="displayRow('DKK')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Euro
			<input type="checkbox" id="eur" onclick="displayRow('EUR')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Japonský jen
			<input type="checkbox" id="jpy" onclick="displayRow('JPY')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Kanadský dolar
			<input type="checkbox" id="cad" onclick="displayRow('CAD')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Maďarský forint
			<input type="checkbox" id="huf" onclick="displayRow('HUF')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Norská koruna
			<input type="checkbox" id="nok" onclick="displayRow('NOK')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Polský zlotý
			<input type="checkbox" id="pln" onclick="displayRow('PLN')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Rumunský nový lei
			<input type="checkbox" id="ron" onclick="displayRow('RON')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Ruský rubl
			<input type="checkbox" id="rub" onclick="displayRow('RUB')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Švédská koruna
			<input type="checkbox" id="sek" onclick="displayRow('SEK')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Švýcarský frank
			<input type="checkbox" id="chf" onclick="displayRow('CHF')">
			<span class="checkmark"></span>
		</label>
	</div>
	<div class="tableDiv">
		@{
			var deals = (List<Deal>)ViewData["deals"];
		}

		<table>
			<thead>
				<tr>
					<th>Země</th>
					<th>Označení</th>
					<th>Nejvýhodnější prodej</th>
					<th>Jméno banky</th>
					<th>Nejvýhodnější nákup</th>
					<th>Jméno banky</th>
					<th>Doporučení</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in deals)
				{
					<tr id="@item.CurrencyName" class="dealRow" style="display:none">
						<td>@item.Country</td>
						<td>@item.CurrencyName</td>
						<td>@item.BestSale</td>
						<td>@item.BestSaleBank.ToUpper()</td>
						<td>@item.BestBuy</td>
						<td>@item.BestBuyBank.ToUpper()</td>
						<td>@item.Recommendation</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>

<script type="text/javascript">
    var bankCheckboxValues = JSON.parse(localStorage.getItem('bankCheckboxValues')) || {};
    var $bankCheckboxes = $("#bankRowDiv :checkbox");
    $bankCheckboxes.on("change", function () {
        $bankCheckboxes.each(function () {
            bankCheckboxValues[this.id] = this.checked;
        });
        localStorage.setItem("bankCheckboxValues", JSON.stringify(bankCheckboxValues));
    });

    $.each(bankCheckboxValues, function (key, value) {
        $("#" + key).prop('checked', value);
    });

    var bankBoxes = $("#bankRowDiv :checkbox");
    for (var i = 0; i < bankBoxes.length; i++) {
        if (bankBoxes[i].checked == true) {
            displayRow(bankBoxes[i].id.toUpperCase());
        }
    }</script>