@model STIProkoratKrausnerBroz.Models.ToolsClass
@using System.Data
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Kraušner, Prokorát, Brož";
}
<section class="timeChoiceSection">
	<div class="checkBoxDiv">
		<label class="container" id="weekLabel">
			Týden
			<input type="radio" name="radio" id="weekRadio" onclick="hideDiv('monthCanvas', 'weekCanvas')">
			<span class="checkmark"></span>
		</label>
		<label class="container" id="monthLabel">
			Měsíc
			<input type="radio" name="radio" id="monthRadio" checked="checked" onclick="hideDiv('weekCanvas', 'monthCanvas')">
			<span class="checkmark"></span>
		</label>
	</div>
</section>
<section class="content">
	<div class="checkBoxDiv2">
		<h1>Vyber měnu:</h1>
		<label class="container">
			Americký dolar
			<input type="checkbox" checked="checked" onclick="displayGraphRow('usdRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Australský dolar
			<input type="checkbox" onclick="displayGraphRow('audRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Britská libra
			<input type="checkbox" checked="checked" onclick="displayGraphRow('gbpRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Chorvatská kuna
			<input type="checkbox" onclick="displayGraphRow('hrkRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Dánská koruna
			<input type="checkbox" onclick="displayGraphRow('dkkRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Euro
			<input type="checkbox" checked="checked" onclick="displayGraphRow('eurRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Japonský jen
			<input type="checkbox" onclick="displayGraphRow('jpyRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Kanadský dolar
			<input type="checkbox" onclick="displayGraphRow('cadRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Maďarský forint
			<input type="checkbox" onclick="displayGraphRow('hufRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Norská koruna
			<input type="checkbox" onclick="displayGraphRow('nokRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Polský zlotý
			<input type="checkbox" onclick="displayGraphRow('plnRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Rumunský nový lei
			<input type="checkbox" onclick="displayGraphRow('ronRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Ruský rubl
			<input type="checkbox" onclick="displayGraphRow('rubRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Švédská koruna
			<input type="checkbox" onclick="displayGraphRow('sekRow')">
			<span class="checkmark"></span>
		</label>
		<label class="container">
			Švýcarský frank
			<input type="checkbox" onclick="displayGraphRow('chfRow')">
			<span class="checkmark"></span>
		</label>
	</div>
	<div class="graphDiv">
		<div class="rowCanvasDiv" id="usdRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="usd-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="usd-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="usd-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="usd-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="audRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="aud-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="aud-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="aud-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="aud-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="gbpRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="gbp-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="gbp-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="gbp-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="gbp-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="hrkRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="hrk-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="hrk-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="hrk-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="hrk-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="dkkRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="dkk-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="dkk-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="dkk-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="dkk-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="eurRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="eur-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="eur-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="eur-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="eur-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="jpyRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="jpy-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="jpy-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="jpy-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="jpy-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="cadRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="cad-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="cad-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="cad-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="cad-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="hufRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="huf-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="huf-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="huf-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="huf-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="nokRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="nok-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="nok-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="nok-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="nok-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="plnRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="pln-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="pln-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="pln-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="pln-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="ronRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="ron-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="ron-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="ron-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="ron-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="rubRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="rub-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="rub-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="rub-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="rub-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="sekRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="sek-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="sek-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="sek-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="sek-month-sale-canvas"></canvas>
			</div>
		</div>
		<div class="rowCanvasDiv" id="chfRow">
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="chf-week-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="weekCanvas" id="chf-week-sale-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="chf-month-purchase-canvas"></canvas>
			</div>
			<div class="graphCanvasDiv">
				<canvas class="monthCanvas" id="chf-month-sale-canvas"></canvas>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
    let bankNames = [];
	var dates = [], weekDates = [], monthDates = [], m = 0, n = 0;
    @{
        foreach (var d in Model.Currencies[0].Dates){
            @:dates.push(new Date("@d.date.ToString("yyyy-MM-dd")"));
        }
		@:for (var i = 0; i < dates.length; i++)  {
			@:if(m < 7){
				@:weekDates.push(dates[i]);
				@:m++;
			@:}
			@:if(n < 30){
				@:monthDates.push(dates[i]);
				@:n++;
			@:}
		@:}
        foreach (var curr in Model.Currencies)
		{
            @:var weekSales = [], monthSales = [], weekPurchases = [], monthPurchases = [], weekIndexes = [0, 0, 0, 0, 0], monthIndexes = [0, 0, 0, 0, 0];
            @:for(var i = 0; i < 5; i++){
				@:weekSales.push([]);
				@:monthSales.push([]);
				@:weekPurchases.push([]);
				@:monthPurchases.push([]);
           @:}
			for (var i = 0; i <curr.Dates.Count;i++)
			{
				foreach (var bank in curr.Dates[i].Banks)
				{
                    @:if(bankNames.length < 5){
                        @:bankNames.push("@bank.name");
                    @:}
                    if (bank.name == "kb")
					{
						@:if (weekSales[0].length < 8) {
							@:weekSales[0][weekIndexes[0]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:weekPurchases[0][weekIndexes[0]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:weekIndexes[0]++;
						@:}
						@:if (monthSales[0].length < 31) {
							@:monthSales[0][monthIndexes[0]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:monthPurchases[0][monthIndexes[0]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:monthIndexes[0]++;
						@:}
                    }
					if (bank.name == "rb")
					{
						@:if (weekSales[1].length < 8) {
							@:weekSales[1][weekIndexes[1]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:weekPurchases[1][weekIndexes[1]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:weekIndexes[1]++;
						@:}
						@:if (monthSales[1].length < 31) {
							@:monthSales[1][monthIndexes[1]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:monthPurchases[1][monthIndexes[1]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:monthIndexes[1]++;
						@:}
                    }
					if (bank.name == "cs")
					{
						@:if (weekSales[2].length < 8) {
							@:weekSales[2][weekIndexes[2]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:weekPurchases[2][weekIndexes[2]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:weekIndexes[2]++;
						@:}
						@:if (monthSales[2].length < 31) {
							@:monthSales[2][monthIndexes[2]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:monthPurchases[2][monthIndexes[2]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:monthIndexes[2]++;
						@:}
                    }
					if (bank.name == "cnb")
					{
						@:if (weekSales[3].length < 8) {
							@:weekSales[3][weekIndexes[3]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:weekPurchases[3][weekIndexes[3]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:weekIndexes[3]++;
						@:}
						@:if (monthSales[3].length < 31) {
							@:monthSales[3][monthIndexes[3]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:monthPurchases[3][monthIndexes[3]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:monthIndexes[3]++;
						@:}
                    }
					if (bank.name == "csob")
					{
						@:if (weekSales[4].length < 8) {
							@:weekSales[4][weekIndexes[4]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:weekPurchases[4][weekIndexes[4]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:weekIndexes[4]++;
						@:}
						@:if (monthSales[4].length < 31) {
							@:monthSales[4][monthIndexes[4]] = parseFloat("@bank.saleVal.ToString().Replace(",", ".")");
							@:monthPurchases[4][monthIndexes[4]] = parseFloat("@bank.purchaseVal.ToString().Replace(",", ".")");
							@:monthIndexes[4]++;
						@:}
                    }

				}

			}
			@:createCurrencySaleGraph("@curr.Name.ToLower()"+"-week-sale-canvas", "@curr.Name", bankNames, weekDates, weekSales);
			@:createCurrencyPurchaseGraph("@curr.Name.ToLower()"+"-week-purchase-canvas", "@curr.Name", bankNames, weekDates, weekPurchases);
			@:createCurrencySaleGraph("@curr.Name.ToLower()"+"-month-sale-canvas", "@curr.Name", bankNames, monthDates, monthSales);
			@:createCurrencyPurchaseGraph("@curr.Name.ToLower()"+"-month-purchase-canvas", "@curr.Name", bankNames, monthDates, monthPurchases);
		}
	}
	hideGraphs();
	hideDiv('weekCanvas', 'monthCanvas');
	displayGraphRow('gbpRow');
	displayGraphRow('usdRow');
	displayGraphRow('eurRow');
</script>
